Write a code to create a string with your name and print it.

In [ ]:
def string_name():
  str1=input("enter your name")
  print("your name is", str1)

s1=string_name()
print(s1)

enter your namepallavi singpure
your name is pallavi singpure
None

2.Write a code to find the length of the string "Hello World"

In [ ]:
p="hello world"
print(len(p))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
a="Python Programming"
print(a[0:3])

Pyt

4. Write a code to convert the string "hello" to uppercase

In [ ]:
h="hello"
print(h.upper())
print(h.capitalize())

HELLO
Hello

5.write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
a="i like apple"
print(a.replace("apple","orange"))

i like orange

6.Write a code to create a list with numbers 1 to 5 and print it

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]E

In [ ]:
l=[1,2,3,4,5]
l.append(10)
l.remove(3)
print(l)

[1, 2, 4, 5, 10]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
l=['a', 'b', 'c', 'd']
print(l[1])

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
l=[10, 20, 30, 40, 50]
l.reverse()
print(l)

[50, 40, 30, 20, 10]

. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
t=( 10, 20, 30 )
print(t)

(10, 20, 30)

 Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
f=('apple', 'banana', 'cherry')
print(f[0])

apple

 13--Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2)

In [ ]:
c=(1, 2, 3, 2, 4, 2)
print(c.count(2))

3

14--How does the “in” keyword work differently for lists and dictionaries.

In [1]:
l=[10,23,34,56,67]
d={
    'name':'pallavi',
    'roll_num':23,
    'branch':'cse'
}
print(23 in l)
print("roll_num"in d)

True
True

 Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')

In [2]:
d=("dog", 'cat', 'rabbit')
print(d.index('cat'))

1

Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [3]:
b=('apple', 'orange', 'banana')
if ('banana' in b):
  print("yes")
else:
  print('no')

yes

 Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
  Write a code to add the element 6 to the set {1, 2, 3, 4}

In [4]:
s={1,2,3,4,5}
s.add(6)
print(s)

{1, 2, 3, 4, 5, 6}

. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [5]:
e=(10,20,30)
print(e)

(10, 20, 30)